{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prueba</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Aquí enlazas tu CSS de Tailwind -->
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal p-8">

  {% block content %}
    <h1 class="text-4xl font-bold text-blue-700 mb-6">Donaciones</h1>
<a href="#" class="text-lg text-white bg-green-500 px-6 py-3 rounded shadow hover:bg-green-600 transition">
</a>


  <form action="{% url 'donations:create_checkout_session' %}" method="POST" class="space-y-4">
    {% csrf_token %}
    <label for="amount" class="block text-lg font-semibold">¿Cuánto deseas donar?</label>
    <input type="number" name="amount" id="amount" min="1" step="1"
           class="border rounded px-4 py-2 w-full" placeholder="Ej. 20 MXN">
    <button  href: type="submit" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
        Donar
    </button>
</form>
<br>

<a href="{% url 'home' %}">Volver al inicio</a>

  {% endblock content %}

</body>
</html>